---
layout: page
title: WotV Accuracy Calculator
---

<select id="unitDropdown" class="form-select" aria-label="Default select example">
    <option selected>Open this select menu</option>
  <!-- {% for unit in site.data.dump.data.Unit.items %}
  <option value="{{ unit.iname }}">{{ unit.iname }}</option>
  {% endfor %} -->
</select>

{% assign names = site.data.dump.en.UnitName.infos | sort: 'value' %}
<select class="form-select" aria-label="Default select example">
  <option selected>Open this select menu</option>
  {% for unit in names %}
  <option value="{{ unit.value }}">{{ unit.value }}</option>
  {% endfor %}
</select>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-4">
      <div class="mb-3">
        <label for="atkDexInput" class="form-label">DEX</label>
        <input type="number" class="form-control" id="atkDexInput" placeholder=0>
      </div>
      <div class="mb-3">
        <label for="atkLukInput" class="form-label">LUK</label>
        <input type="number" class="form-control" id="atkLukInput" placeholder=0>
      </div>
      <div id="accBase"></div>
    </div>
    <div class="col col-md-auto">
      <div id="hitRate"></div>
    </div>
    <div class="col col-lg-4">
      <div class="mb-3">
        <label for="defAgiInput" class="form-label">AGI</label>
        <input type="number" class="form-control" id="defAgiInput" placeholder=0>
      </div>
      <div class="mb-3">
        <label for="defLukInput" class="form-label">LUK</label>
        <input type="number" class="form-control" id="defLukInput" placeholder=0>
      </div>
      <div id="evaBase"></div>
    </div>
  </div>
</div>



<script>
  function getAccuracyBase(dex, luk) {
    return (11*(dex**0.2)/20 + (luk**0.96)/200 - 1)*100
  }
  function getEvasionBase(agi, luk) {
    return (11*Math.pow(agi,0.9)/1000 + Math.pow(luk,0.96)/200 - 1)*100
  }

  const atkDex = document.querySelector('#atkDexInput');
  const atkLuk = document.querySelector('#atkLukInput');
  const accBase = document.querySelector('#accBase');

  const defAgi = document.querySelector('#defAgiInput');
  const defLuk = document.querySelector('#defLukInput');
  const evaBase = document.querySelector('#evaBase');

  const hitRate = document.querySelector('#hitRate');

  function updateAccBase() {
    const acc = getAccuracyBase(Number(atkDex.value), Number(atkLuk.value)).toFixed(0);
    accBase.textContent = acc;
  }

  function updateEvaBase() {
    const eva = getEvasionBase(Number(defAgi.value), Number(defLuk.value)).toFixed(0);
    evaBase.textContent = eva;
  }

  function updateHitRate() {
    const hit = Number(accBase.textContent) - Number(evaBase.textContent);
    hitRate.textContent = hit;
  }

  atkDex.addEventListener('change', () => {updateAccBase(); updateHitRate()});
  atkLuk.addEventListener('change', () => {updateAccBase(); updateHitRate()});
  defAgi.addEventListener('change', () => {updateEvaBase(); updateHitRate()});
  defLuk.addEventListener('change', () => {updateEvaBase(); updateHitRate()});

  class Unit {
    constructor(name, dex, agi, luk) {
      this.name = name,
      this.dex = dex,
      this.agi = agi,
      this.luk = luk
    }
  }

  function loadJSON(filepath, callback) {   
    var xobj = new XMLHttpRequest();
    xobj.overrideMimeType("application/json");
    xobj.open('GET', filepath, true); // Replace 'appDataServices' with the path to your file
    xobj.onreadystatechange = function () {
    if (xobj.readyState == 4 && xobj.status == "200") {
        // Required use of an anonymous callback as .open will NOT return a value but simply returns undefined in asynchronous mode
        callback(JSON.parse(xobj.responseText));
      }
    };
    xobj.send(null);  
  }

  async function loadJSONPromise(filepath, callback) {
    let promise = await new Promise((resolve, reject) => {
      var xobj = new XMLHttpRequest();
      xobj.overrideMimeType("application/json");
      xobj.open('GET', filepath, true); // Replace 'appDataServices' with the path to your file
      xobj.onreadystatechange = function () {
        if (xobj.readyState == 4 && xobj.status == "200") {
            // Required use of an anonymous callback as .open will NOT return a value but simply returns undefined in asynchronous mode
            callback(JSON.parse(xobj.responseText));
            resolve();
        }
      };
      xobj.send(null); 
    }).catch(err => console.log(err));

    return promise;
  }

  function test() {
    var unitList;
    var nameList;
    let unitPromise = loadJSONPromise('./assets/dump/data/Unit.json',
      function(parsedJSON) {
        unitList = parsedJSON;
      }
    );
    let namePromise = loadJSONPromise('./assets/dump/en/UnitName.json',
      function(parsedJSON) {
        nameList = parsedJSON;
      }
    );
    Promise.all([unitPromise, namePromise]).then(() => {
      console.log(unitList.items);
      console.log(nameList.infos);

      var map = new Map();
      unitList.items.forEach(function(x) {x.name = null; map.set(x.iname, x);});
      nameList.infos.forEach(function(y) {
        var existing = map.get(y.key);
        if (existing === undefined) {
          map.set(y.key, y);
        } 
        else {
          Object.assign(existing, y);
        }
      });
      var result = Array.from(map.values());
      console.log(result);
    });
  }

  function dynamicSort(property) {
    var sortOrder = 1;
    if(property[0] === "-") {
        sortOrder = -1;
        property = property.substr(1);
    }
    return function (a,b) {
        /* next line works with strings and numbers, 
         * and you may want to customize it to your needs
         */
        var result = (a[property] < b[property]) ? -1 : (a[property] > b[property]) ? 1 : 0;
        return result * sortOrder;
     }
}

  function getUnitNameList() {
    var nameList;
    let namePromise = loadJSONPromise('./assets/dump/en/UnitName.json',
      function(parsedJSON) {
        nameList = parsedJSON.infos;
      }
    );
    namePromise.then(() => {
      var regex = /_P_/;
      var playerUnits = nameList.filter(unit => regex.test(unit.key));
      var sortedList = playerUnits.sort(dynamicSort("value"));
      // var sortedNames = sortedList.map(function (unit) {return unit.value});
      // console.log(sortedNames);
      var dropdown = document.querySelector("#unitDropdown")
      sortedList.forEach((unit) => {
        var option = document.createElement("option");
        option.value = unit.key;
        option.text = unit.value;
        dropdown.add(option, null);
      });
    });
  }

  getUnitNameList();

  function addSortedUnitNameToDropdown() {
    var nameList = getUnitNameList();
    console.log(nameList);
    var sortedList = nameList.sort(dynamicSort("value"));
    var sortedNames = sortedList.map(function (unit) {return unit.value});
    console.log(sortedNames);
  }

  class VisionCard {
    constructor(name, dex, agi, luk) {
      this.name = name,
      this.dex = dex,
      this.agi = agi,
      this.luk = luk
    }
  }

</script>